* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 70px;
    color: white;
    background-color: #fd6500a2;
    padding: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

}

nav ul {
    list-style-type: none;
    /* width: 50%; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-photo/top-view-traveling-items-wooden-background_23-2148971050.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.logo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    /* padding-bottom: 5px; */
}

.company {
    display: inline-flex;
    width: 400px;
    align-items: center;
}

.company>p {
    font-size: 20px;
    font-weight: 900;
}

h1 {
    display: inline-flex;
}

input[type="text"],
input[type="number"],
textarea,
select {
    border-radius: 12px;
    border-color: white;
    outline: none;
    border: none;
    margin-left: 5px;
}

button {
    padding: 7px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #050505cb;
}

.motto-div,
.about-div,
.contact-div {
    color: white;
    display: grid;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 30px;
}

.about-div>.title {
    font-size: 30px;
    font-weight: 900;
}

.contact-div>.title {
    font-size: 30px;
    font-weight: 900;
}

.about-div>.description {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-div>.description {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-div {
    width: 35%;
}

.contact-form {
    color: white;
    display: grid;
    margin-right: 30px;
    min-height: 300px;
}

.our-team {
    display: inline-flex;
    justify-content: space-between;
}

.team {
    font-size: 30px;
    font-weight: 900;
    margin-left: 50px;
}

.team-member {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    max-width: 200px;
}

.role {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.media {
    width: 30px;
    height: 30px;
    margin: 15px;
}

.introduction {
    width: 300px;
    color: white;
    text-align: left;
    margin-top: 30px;

}

.social {
    display: grid;
    align-items: center;
    align-content: center;
}

.search {
    background-color: white;
    border-radius: 12px;
    display: inline-flex;
    margin-left: 200px;
}

.motto {
    font-size: 38px;
    font-weight: 900;
}

.vl {
    border-left: 3px solid rgba(255, 255, 255, 0.788);
    height: 150px;
    margin: 30px;
    margin-bottom: 50px;
}

#bookNow {
    margin-top: 50px;
    width: 120px;
    font-weight: bold;
}

#results {
    height: 500px;
    width: 100%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    color: black;
}

#results>img {
    height: 500px;
    width: 500px;
    border-radius: 12px;
}

.result-div {
    background-color: white;
    width:500px;
    margin-bottom: 30px;
    margin-top: -15px;
    border-radius: 12px;
    padding: 12px;
    padding-top: 25px;
    font-size: 12px;
}
.result-div > p {
    margin-top:10px;
    margin-bottom: 10px;
}